{%extends "base.html"%}

{%block content%}
<section class="index">
    <aside class="aside"></aside>
    <div class="middle">
        <h2 class="headings">Add a New Book</h2>
        <section class="addnew">
            <div class="add">
                <form action="/books" method="post">
                    <label for="title"> Title: </label>
                    <input id="title" name="title" type="text" required autofocus>
                    <label for="author">Author: </label>
                    <select name="author" id="author">
                        {%for author in all_authors%}<option value="{{author.id}}">{{author.name}}</option>{%endfor%}
                    </select>
                    <label for="genre">Genre: </label>
                    <input id="genre" name="genre" type="text" required>
                    <label for="publisher">Publisher: </label>
                    <input id="publisher" name="publisher" type="text" required>
                    <label for="page_count">Page Count: </label>
                    <input id="page_count" name="page_count" type="number" required>
                    <button type="submit">Add Book</button>
                </form>
            </div>
        </section>
    </div>
    <aside class="aside"></aside>





</section>
{%endblock%}